Origin: XBian
Package: xbian-package-zram-swap
Version: 1.0-3.1
Section: base
Essential: No
Priority: optional
Depends: upstart, xbian-package-kernel
Architecture: armhf
Maintainer: mk01 <development@xbian.org>
Description: zram-swap custom xbian package
